body {
  background-image: url('./../images/marvel-pattern.jpg');
  letter-spacing: .02em;
}
ul {
  list-style: none;
  padding: 0;
}
.title {
  font-family: $font-family !important;
}
.link {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}