.app-pages--detail {
  .detal-content {
    padding: 40px 0;
  }
  .heroe {
    &-information {
      color: $secondary;
      font-weight: 600;
      height: 150px;
      margin-top: 20px;
      text-transform: uppercase;
    }
    &-extra {
      color: $secondary;
      font-weight: 600;
    }
    &-description {
      background-color: rgba($color: $secondary, $alpha: .6);
      color: $white;
      margin-top: 40px;
      line-height: 2em;
      padding: 1em 1.4em;
    }
  }
  .app-component--heroe__avatar {
    transform: translateY(-50%);
  }
}