.app-component--heroe {
  &__cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
  }
  &__avatar {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 8px solid $secondary;
    height: 200px;
    width: 200px;
  }
  &__book {
    margin-bottom: 40px;
    .title {
      font-size: 32px;
      text-transform: uppercase;
      min-width: 150px;
    }
  }
}