.modal {
  display: block !important;
  .overlay {
    background-color: rgba($color: #000000, $alpha: .7);
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
  }
  &-header {
    background-image: url('./../images/marvel-pattern.jpg');
  }
  &-footer {
    background-image: url('./../images/marvel-pattern.jpg');
  }
}