.app-component {
  &--navigation {
    background-color: rgba($color: $dark, $alpha: .6);
    color: $white;
    height: 50px;
    left: 0;
    line-height: 50px;
    position: absolute;
    right: 0;
    top: 100px;
    .items {
      font-size: 21px;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}