.app-component--card {
  cursor: pointer;
  transition: .2s ease-in-out all;
  .card-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
  }
  .card-body {
    height: 90px;
  }
}